.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

h2{
  text-align: center;
  font-size: 40px;
  color:blue;
}

p{
  text-align: center;
  font-size: 40px;
  color:green
}

.btn-choice{
}

.img{
  display: block;
  margin: 0 auto;
  border:2px solid black;
  box-shadow: 10px 5px 5px black;
  border-radius: 25px;
}

.button-container{
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-color:orange;
}

.getDino{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.heading{
  color:green;
  text-align: center;
  font-size: 30px;
}

.App-link {
  color: #09d3ac;
}


button{
  font-size: 30px;
  border-radius: 5px;
  text-align: center;
  color:blue;
  
}